.carousel-container1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  background-color: #f9fafb;
  color: #333;
  font-family: Poppins, sans-serif;
  position: relative; /* Importante para el posicionamiento de elementos como el botón de regresar */
}

h2 {
  margin-top: 70px; /* Ajusta el margen superior para que no se sobreponga con el botón de regresar */
}

.search-and-categories {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.search-column1,
.categories-column1 {
  flex: 1;
  max-width: 45%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-column1 form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 checkboxes por fila */
  gap: 10px;
  width: 100%;
  justify-items: center;
  overflow-wrap: break-word; /* Evita que los elementos se desborden */
}

.checkbox-group label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #555;
}

.checkbox-group input {
  margin-right: 8px;
}

.search-column1 h2,
.categories-column1 h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.categories-column1 label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
}

.categories-column1 input[type="checkbox"] {
  margin-right: 8px;
}

button[type="button"] {
  position: absolute;
  top: 250px; /* Ajusta esta posición para que no esté tan arriba */
  left: 60px;
  z-index: 10;
}
