@import "./styGeneral.css";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  background-color: var(--background-color);
  color: var(--primary-color);
}

.logo {
  /* Elementos del logo (izquierda) */
  display: flex;
  align-items: center;
  gap: 1rem;
  white-space: nowrap;
}

.logo > a {
  /* Elementos dentro del link .logo */
  display: flex;
  align-items: center;
  text-decoration: none; /* Remueve el subrayado */
  color: inherit; /* Hereda el color del contenedor */
}

.logo > a > img {
  /* Accede a la imagen del logo */
  width: 50px;
}
.logo > a > h1 {
  /* Accede al texto del logo */
  font-size: 2rem;
}

.nav-links {
  /* Todos los textos del NavBar (derecha) */
  list-style: none;
  display: flex;
  gap: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
}

.nav-links .normal {
  /* Elementos sin botón */
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s;
}

.normal:hover {
  color: var(--secondary-color);
}
