@import "./styGeneral.css";

.contenedorVista {
  background-color: var(--background-color);
}

/* Estilo para la sección de categorías */
.categoriasSec {
  padding: 20px;
  background-color: var(--background-color);
}

.categoriasSec > h2 {
  color: var(--primary-color);
  font-size: 2rem;
}

.categorias {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.categorias {
}
