.contenedorFichaLugares {
  display: flex;
  align-items: flex-end;
  justify-content: left;
  width: 250px; /* Ajusta el ancho */
  height: 40vh; /* Altura de 40vh como se especifica */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px; /* Cambia según sea necesario */
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agrega transición para la sombra */
}

.contenedorContendioFichasLugares {
  color: #ffffff;
  text-align: left; /* Cambia la alineación del texto a la izquierda */
  padding: 20px;
  z-index: 1;
}

.contenedorFichaLugares:hover {
  transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
  box-shadow: 0 0 30px 10px rgba(255, 165, 0, 0.6); /* Sombra naranja más difuminada */
}

.gradienteSuperpuestoLugares {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, #e19577, transparent);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.gradienteSuperpuestoLugares.hovered {
  background: linear-gradient(to top,#e19577, transparent);
  opacity: 0; /* Cambia la opacidad cuando se pasa el mouse */
}


.lugaresSec {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: space-around;
}

.contenedorLugaresSec {
  background-color: var(--background-color); 
  padding: 20px; 
  border-radius: none; 
}

.tituloLugares {
  text-align: center; /* Centra el título */
  margin-bottom: 20px; /* Espacio debajo del título */
  color: #333; /* Color del texto */
}


.linkMasLugares {
  text-align: center; 
  margin-top: 20px; 
}

.linkMasLugares a {
  text-decoration: none; 
  color: #007BFF; 
  font-weight: bold; 
  transition: color 0.3s ease; /* Transición de color */
}

.linkMasLugares a:hover {
  color: #0056b3; 
}

h1 {
  font-size: 18px;
  margin: 0;
  justify-content: left;
}

p {
  font-size: 14px;
  margin: 5px 0 0;
}
