.contenedorFicha {
  position: relative;
  background-color: var(--primary-color);
  border-radius: 25px;
  height: 10rem;
  width: 30rem;
  justify-content: flex-start;
  display: flex;
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat;
}

.contenedorContendioFichas {
  position: absolute; /* Posiciona el contenido sobre el contenedor */
  bottom: 1rem; /* Ubica el contenido desde la parte inferior */
  left: 1rem; /* Ubica el contenido desde la izquierda */
  margin: 0; /* Elimina el margen */
  z-index: 1; /* Asegura que el contenido esté por encima de otros elementos */
  width: 90%; /* Ajusta el ancho del contenido */
  text-align: left; /* Alinea el texto a la izquierda */
}

.contenedorContendioFichas h1 {
  font-size: 2.5rem; /* Reduce el tamaño del texto */
  margin: 0;
  color: var(--background-color); /* Asegura contraste con el fondo */
  white-space: normal; /* Permite que el texto ocupe varias líneas */
  overflow: hidden; /* Evita desbordamientos */
  text-overflow: ellipsis; /* Muestra puntos suspensivos si el texto es muy largo */
}

.contenedorContendioFichas p {
  font-size: 1rem; /* Reduce el tamaño del texto */
  color: var(--background-color); /* Asegura contraste con el fondo */
  margin-top: 10px;
  white-space: normal; /* Permite que el texto ocupe varias líneas */
  overflow: hidden; /* Evita desbordamientos */
  text-overflow: ellipsis; /* Muestra puntos suspensivos si el texto es muy largo */
}
