@import "./styGeneral.css";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--background-color);
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  white-space: nowrap;
}

.logo > a {
  display: flex;
  align-items: center;
  text-decoration: none; /* Remueve el subrayado */
  color: inherit; /* Hereda el color del contenedor */
}

.logo > h1 {
  font-size: 1.5rem;
  margin: 0;
}

.logo > img {
  width: 100px;
.logo > a > img {
  width: 50px; /* Ajusta a un tamaño adecuado */
  height: auto;
  display: block;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li a {
  color: var(--background-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: var(--secondary-color);
}
