:root {
    --imagen-ancho: 100%;  /* Control del ancho de la imagen */
    --imagen-alto: 800px;  /* Control del alto de la imagen */
}

/* Contenedor de la imagen centrado */
.imagenContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--imagen-alto); /* Altura controlada por la variable */
    max-width: 1800px;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    position: relative;
    
}

/* Estilos para la imagen */
.categoriaImagen {
    width: 100%;  /* La imagen ocupa el 100% del contenedor */
    height: 100%; /* La imagen ocupará toda la altura del contenedor */
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin distorsionarse */
    border-radius: 30px;
}

/* Texto en la parte inferior izquierda de la imagen */
.imagenContenedor .textoImagen {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white !important;
}

.imagenContenedor .textoImagen h2,
.imagenContenedor .textoImagen p {
    color: white !important;
}
