.gustosPerfil-title {
  font-size: 2rem;
  color: var(--background-color);
  text-align: center;
  margin-bottom: 20px;
}

.gustosPerfil-pregunta {
  color: var(--background-color);
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.5rem; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Añade una ligera sombra */
}

.gustosPerfil-contenedor {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7), /* Color negro semitransparente en la parte superior */
      rgba(0, 0, 0, 0.1) /* Color más claro hacia la parte inferior */
    ),
    url('../imgs/backgroundGustosPerfil.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.accion-botones {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}


.botonAccion {
  padding: 15px 30px; 
  border-radius: 8px; 
  font-weight: bold;
  font-size: 1rem; 
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  min-width: 150px; 
  text-align: center;
}


.botonAccion:hover {
  background-color: var(--secondary-color);
}

.opciones-contenedor.horizontal {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
  gap: 30px; 
  margin-top: 70px;
}

.opcion-card {
  width: 180px; 
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}


.opcion-card:hover,
.opcion-card.selected {
  background-color: var(--primary-color);
}

.opcion-card:hover .icono,
.opcion-card.selected .icono {
  color: var(--background-color);
}

.opcion-card:hover .opcion-boton,
.opcion-card.selected .opcion-boton {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.icono {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.opcion-boton {
  background-color: var(--primary-color);
  color: var(--background-color);
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.85rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.opcion-boton:hover {
  background-color: var(--secondary-color);
}

.opcion-card.selected {
  border: 2px solid var(--secondary-color);
}
