.gustosPerfil-title {
  font-size: 2rem;
  color: var(--background-color);
  text-align: center;
  margin-bottom: 20px;
}

.gustosPerfil-pregunta {
  color: var(--background-color);
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.5rem; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Añade una ligera sombra */
}

.gustosPerfil-contenedor {
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  overflow: hidden; /* Asegura que los bordes redondeados se mantengan */
}

.gustosPerfil-background {
  position: absolute;
  top: 20px; /* Espaciado superior */
  left: 20px; /* Espaciado izquierdo */
  right: 20px; /* Espaciado derecho */
  bottom: 20px; /* Espaciado inferior */
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.1)
    ),
    url('../imgs/backgroundGustosPerfil.jpg');
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px; /* Bordes redondeados */
  z-index: -1; /* Asegura que quede detrás del contenido */
}

.accion-botones {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}


.botonAccion {
  padding: 15px 30px; 
  border-radius: 8px; 
  font-weight: bold;
  font-size: 1rem; 
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-width: 150px; 
  text-align: center;
}

.botonAccion:disabled {
  background-color: gray; /* Color gris cuando está deshabilitado */
  cursor: not-allowed; /* Cursor deshabilitado */
}

.botonAccion:hover:not(:disabled) {
  background-color: var(--secondary-color); /* Cambia a secondary-color cuando está habilitado y pasa el mouse */
}

.botonAccion:active:not(:disabled) {
  background-color: var(--secondary-color); /* Cambia a secondary-color al hacer clic */
}

.opciones-contenedor.horizontal {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
  gap: 30px; 
  margin-top: 70px;
}

.opcion-card {
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0s; /* Eliminar transformaciones */
}



.opcion-card:hover,
.opcion-card.selected {
  background-color: var(--primary-color);
}

.opcion-card:hover .icono,
.opcion-card.selected .icono {
  color: var(--background-color);
}

.opcion-card:hover .opcion-boton,
.opcion-card.selected .opcion-boton {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.icono {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.opcion-boton {
  background-color: var(--primary-color);
  color: var(--background-color);
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.85rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.opcion-boton:hover {
  background-color: var(--secondary-color);
}

.opcion-card.selected {
  border: 2px solid var(--secondary-color);
}