@import "./styGeneral.css";

.home {
  text-align: center;
  padding: 0rem 2%;
  background-color: var(--background-color);
}

/* Estilo para la sección de categorías */
.categories-section {
  padding: 20px;
}

.contenedorUno {
  background-image: url("../imgs/fondoInicio.jpg");
  height: 88vh;
}

.contenedorVista {
  background-color: var(--background-color);
}


.categories {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.category-card {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 15px; /* Agrega espacio alrededor de cada imagen */
}

.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.more-categories-link {
  color: #007bff;
  text-decoration: none;
  display: block;
  margin-top: 15px;
}

/* Sección de historias de usuarios */
.user-stories-section {
  padding: 20px;
  text-align: center;
}

.user-stories {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.user-story {
  text-align: center;
  text-decoration: none; /* Elimina el subrayado del texto en el enlace */
  color: inherit; /* Mantiene el color original del texto */
  transition: transform 0.3s, box-shadow 0.3s;
}

.user-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px; /* Agrega espacio alrededor de cada imagen */
  border-radius: 0; /* Imagen cuadrada */
  transition: transform 0.3s, box-shadow 0.3s;
}

.user-story:hover .user-image {
  transform: scale(1.05); /* Agranda la imagen */
  box-shadow: 0 8px 16px var(--suport--color); /* Sombra con var(--suport--color) */
}

.user-story p {
  margin-top: 10px;
  font-weight: normal;
  color: #000000;
}

.more-stories-link {
  color: #007bff;
  text-decoration: none;
  display: block;
  margin-top: 15px;
}
