/* Import general styles */
@import "./styGeneral.css";

.login-container {
  width: 500px;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-title {
  font-size: 2rem;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 10px;
  /*align-items: center;
  
  /*box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);*/

  /*background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: max-content;*/
}

.input-field {
  padding: 10px;
  border: 2px solid;
  border-radius: 10px;
  font-size: 1rem;
  color: var(--primary-color);
  text-align: left;
}

.sidebar ul {
  border-radius: 20px;
  /*background-color: #83c5B3;*/
  border-color: #83c5be;
  /*border-style: solid;*/
  list-style: none;
  padding: 0;
  padding-bottom: 15px;
}

.input-field:focus {
  outline: none;
  border-color: var(--secondary-color);
  box-shadow: 0 0 5px var(--secondary-color);
}

.login-button {
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: var(--secondary-color);
}

.forgot-password {
  text-align: center;
  color: var(--primary-color);
  font-size: 0.9rem;
  text-decoration: none;
  transition: color 0.3s;
}

.forgot-password:hover {
  color: var(--secondary-color);
}

.signup-link {
  text-align: center;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  margin-top: 10px;
}

.signup-link:hover {
  color: var(--secondary-color);
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Adds space between options */
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Space between radio button and label */
  font-size: 1rem; /* Adjust font size to match design */
  color: var(--primary-color);
  cursor: pointer; /* Changes cursor to indicate clickability */
  transition: color 0.3s ease-in-out;
}

.radio-label:hover {
  color: var(--secondary-color); /* Changes label color on hover */
}

.radio-input {
  appearance: none; /* Removes default styling */
  width: 18px;
  height: 18px;
  border: 2px solid var(--primary-color);
  border-radius: 50%; /* Makes the input circular */
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.radio-input:checked {
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
}

.generalVista {
  background-image: "../imgs/backgroundGustosPerfil.jpg";
  height: 700px;
  display: flex;
}

button {
  color: var(--primary-color);
}
