.home {
  text-align: center;
}

/* Estilo para la sección de bienvenida */
.welcome-section {
  position: relative;
  height: 600px; /* Ajusta la altura para el tamaño del header */
  background-image: url("../imgs/travel05.jpg"); /* Ruta de la imagen de fondo */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.welcome-content {
  position: relative;
  z-index: 1;
}

.welcome-content h1 {
  font-size: 2.5em;
  margin: 0;
}

.welcome-content p {
  font-size: 1.2em;
  color: #f0f0f0;
  margin-top: 10px;
}

.create-itinerary-button {
  padding: 15px 25px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 15px; /* Ajusta el tamaño del texto aquí */
  text-decoration: none; /* Quita el subrayado */
  display: inline-block; /* Asegura que se comporte como un botón */
}

.create-itinerary-button:hover {
  background-color: #45a049;
}

/* Estilo para la sección de categorías */
.categories-section {
  padding: 20px;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.category-card {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 15px; /* Agrega espacio alrededor de cada imagen */
}

.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.more-categories-link {
  color: #007bff;
  text-decoration: none;
  display: block;
  margin-top: 15px;
}

/* Sección de historias de usuarios */
.user-stories-section {
  padding: 20px;
  text-align: center;
}

.user-stories {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.user-story {
  text-align: center;
  text-decoration: none; /* Elimina el subrayado del texto en el enlace */
  color: inherit; /* Mantiene el color original del texto */
}

.user-image {
  width: 300px;
  height: 300px;
  border-radius: 50%; /* Hace la imagen circular */
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px; /* Agrega espacio alrededor de cada imagen */
}

.user-story p {
  margin-top: 10px;
  font-weight: normal;
  color: #000000;
}

.more-stories-link {
  color: #007bff;
  text-decoration: none;
  display: block;
  margin-top: 15px;
}
