@import "./styGeneral.css";
@import "./styPerfil.css";

.modificarPerfil {
  /*color: var(--primary-color);
  align-items: center;*/
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align:center;
}

.label {
  /*color: var(--primary-color);
  font-size: 1rem;*/
  padding: 10px;
  /*border: 1px solid var(--support-color);*/
  border-radius: 5px;
  font-size: 1rem;
  color: var(--primary-color);
  font-weight:bold;
}

.campo {
text-align: right;
}
