@import "./styGeneral.css";

.contenedorUnoP {
  background-image: url("../imgs/fondoInicio.jpg");
  background-color: var(--background-color);
  height: 50vh;
}

/*.perfil-container {
  display: flex;
  height:53vh;
  background-color: var(--background-color);
}*/

.perfil-centrado {
  text-align: center;
  padding: 0 3%;
  background-color: var(--background-color);
  padding-right: 0px;
}

.complemento0 {
  display: flex;
  height: 100vh;
  /*width:25vh;*/
  background-color: var(--background-color);
}

.contenedorFoto {
  position: relative;
  width: 200px; /* Ajusta el ancho para un círculo */
  height: 200px; /* El alto debe ser igual al ancho */
  max-width: 200px; /* Asegúrate de mantener proporción */
  max-height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%; /* Convierte el contenedor en un círculo */
  overflow: hidden; /* Recorta el contenido fuera del borde circular */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin: 1rem auto; /* Centra el contenedor */
}

.contenedorFoto img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen llene el círculo */
}

.sidebar {
  position: absolute;
  width: 250px;
  background-color: var(--primary-color);
  padding: 20px;
  border-right: 1px solid var(--primary-color);
  border-radius: 20px;
  height: 700px;
  color: var(--background-color)
  /*padding: 2rem;*/
}

/*.complemento1 {
  position: absolute;
  width: 250px;
  background-color: var(--secondary-color);
}*/

.sidebar ul {
  border-radius: 20px;
  /*background-color: #83c5B3;*/
  border-color: #83c5be;
  /*border-style: solid;*/
  list-style: none;
  padding: 0;
  padding-bottom: 15px;
  text-align: left;
}

.sidebar li {
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  color: var(--background-color);
  font-weight: 500;
}

.sidebar li:hover,
.sidebar li.active {
  /*background-color: #ddd;*/
  color: var(--secondary-color);
}

.content {
  padding: 20px;
  flex-grow: 1;
}

.botonAccion {
  width: auto;
  padding: auto;
}

.botonCerrar {
  background-color: var(--background-color);
  color: var(--primary-color);
  text-decoration: none;
  padding: 8px;
  border-radius: 10px;
  font-weight: bold;
}

.botonCerrar:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--background-color);
  transition: 0.3s;
}

.contenedorVista button {
  width: auto;
  margin: auto;
}

.camposPerfil {
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--primary-color);
  text-align: left;
}