@import "./styGeneral.css";

.contenedorUno {
  background-image: url("../imgs/fondoInicio.jpg");
  background-color: var(--background-color);
  height: 50vh;
}

.perfil-container {
  display: flex;
  height: 100vh;
  background-color: var(--background-color);
}

.sidebar {
  width: 250px;
  background-color: var(--support-color);
  padding: 20px;
  border-right: 1px solid var(--primary-color);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  color: #333;
  font-weight: 500;
}

.sidebar li:hover,
.sidebar li.active {
  background-color: #ddd;
  color: #000;
}

.content {
  padding: 20px;
  flex-grow: 1;
}

.botonAccion {
  width: auto;
  padding: auto;
}

.contenedorVista button{
  width: auto;
  margin: auto;
}