@import "./styGeneral.css";

.GenBut{
    font-family: Helvetica, sans-serif;
    padding: 2rem;
    width: auto;
}

.button {
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: 7px;
    font-size: 1rem;
    width: auto;
    height: auto;
}

.button:hover{
    color: var(--secondary-color);
}