@import "./styGeneral.css";

.Home{
    background-image: url("../imgs/homebanner.jpg");
    background-size: cover;
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

.ContHome{
    align-content: center;
    padding-top: 30%;
}

.ContHome h1{
    text-align: center;
    font-size: 4rem;
    color: var(--extra-color);
}

.ContHome p{
    text-align: center;
    font-size: 2rem;
    color: var(--primary-color);
}